body {
    background-color: #ffffff;
    color: #000000;
}

body, td, th, h1, h2 {
    font-family: sans-serif;
}

pre {
    margin: 0px;
    font-family: monospace;
}

a:link {
    color: #000099;
    text-decoration: none;
    background-color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.center table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.center th {
    text-align: center !important;
}

td, th {
    border: 1px solid #000000;
    font-size: 75%;
    vertical-align: baseline;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 125%;
}

.p {
    text-align: left;
}

.e {
    background-color: #ccccff;
    font-weight: bold;
    color: #000000;
}

.h {
    background-color: #9999cc;
    font-weight: bold;
    color: #000000;
}

.v, .v a {
    background-color: #cccccc;
    color: #000000;
}

.vr {
    background-color: #cccccc;
    text-align: right;
    color: #000000;
}

img {
    /*float: right;*/
    border: 0px;
}

hr {
    width: 600px;
    background-color: #cccccc;
    border: 0px;
    height: 1px;
    color: #000000;
}

.container {
    width: 600px;
    margin: 10px auto;
}

.header {
    border: #000 1px solid;
    height: 80px;
}

.header img {
    margin-top: 5px;
}

.header h1 {
    font-size: 18px;

}

.header h2 {
    font-size: 15px;
}

.header .logo {
    text-align: right;
}

.table {
    border-top: #000 1px solid;
    border-left: #000 1px solid;
    border-right: #000 1px solid;
    font-size: 75%;
    vertical-align: baseline;
}

.table:last-child {
    border-bottom: #000 1px solid;
}

.table .e {
    border-right: #000 1px solid;
}

@media only screen and (max-width: 40.063em) {

    .container {
        width: 100%;
        margin-top: 0;
    }

    .header {
        height: auto;
        border-left: none;
        border-right: none;
    }

    .header .logo {
        text-align: left;
    }

    .table {
        border-right: none;
        border-left: none;
    }

    .table .e {
        border-bottom: #000 1px solid;
        border-right: none;
    }
}